/* GLOBAL SETTINGS */
* {
scroll-behavior: smooth;
box-sizing: border-box;
/* border: 1px solid white; */
}

html {

  /* FONTS */

  --main-font: Afacad, Afacad-Regular;
  --italic: Afacad-Italic;
  --display-font: Boldonse;

  --letter-spacing-bigger: -0.4rem;
  --letter-spacing-big: -0.2rem;
  --letter-spacing-medium: -0.05rem;

  font-size: var(--standard-font-size);

  --standard-font-size: 20px;
  --mini: 0.8rem;
  --small: 1rem;
  --medium: 1.6rem;
  --big: 4rem;
  --bigger: 6.4rem;
  --massive: 10rem;
  --insane: 16rem;
  

  /* COLORS */
  
  --lila: #B0ADFF;
  --lila-light: #B2B0FF;
  --main-black: #090909;
  --main-white: #FFFEFB;
}





/* GENERAL */

body {
  overflow-x: hidden;
  /* disable default values of padding and margin on body */
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--main-black);
  color: var(--main-white);
  width: 100%;
}

a {
  color: var(--main-white);
}

h2 {
  font-family: var(--main-font);
  font-size: clamp(var(--medium), calc(1rem + 8vw), var(--bigger));
  line-height: 1.3;
  letter-spacing: clamp(0em, calc(0.1em + 2vw), 1em);
  text-transform: lowercase;
  font-weight: 900;
  margin-bottom: 1vh;
  margin-top: 1.5em; 
}


h3 {
  font-family: var(--main-font);
  font-size: var(--medium);
  font-weight: 900;
  font-style: normal;
  margin-bottom: 2rem;
  letter-spacing: 0.5em;
  line-height: 1.1;
  text-transform: lowercase;
}

p {
  
  font-weight: 100;
  line-height: 1.5;
  font-size: var(--small);
  letter-spacing: 0.03rem;
}

.flex {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center; 
}

.text {
  width: min(65ch, 70%);
  margin: 0 auto;
  position: relative;
  color: var(--main-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
.plain-background {
  background: var(--main-black);
  width: 100vw;
  margin: 0 auto;
}

.stripes {
  background-image: repeating-linear-gradient(45deg, black 0 1px, var(--main-black) 1px 10px);
}

.stripes-up {
    background-image: repeating-linear-gradient(-45deg, black 0 1px, var(--main-black) 1px 10px);
}

.page {
  height: calc(100vh + 1.5rem);
  width: 100vw;
  display: none;
  position: fixed;
  top: -1.5em;
  background-color: rgba(0, 0, 0, 0.877);
  backdrop-filter: blur(10px);
  z-index: 50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page:target {
  display: flex;
}

/* FOOTER */

footer {
  padding: 0 1rem 0 1rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p, footer a {
    font-size: var(--mini);
    color: var(--main-white);
} 

/* TOPBAR */

nav {
  display: flex;
  justify-content: center;
  transition: 0.4s ease;
  position: fixed;
  top: .66em;
  width: 100%;
  z-index: 99;
  margin: 0 auto;
}

.topbar {
  display: flex;
  width: min(90%, 1200px);
  align-items: center;
  justify-content: space-evenly;
  background: var(--main-white);
  border-radius: .5em;
  box-shadow: -5px 5px 0px var(--main-black);
  padding: .2em;
  text-transform: lowercase;
  transition: .4s ease;
}

.topbar a {
  color: var(--main-black);
  text-decoration: none;
  font-size: 1.2rem;
  transition: .3s ease;
  border-bottom: 2px solid var(--main-white);
  height: 30px;
  margin-bottom: .3em;
}

.topbar a:hover {
  border-bottom: 2px solid var(--main-black);
}

.dropdownmenu {
  display: none;
}
  

/* HERO */  

.links {
  width: 230px;
  height: 50px;
  text-align: center;
  z-index: 9;
  background-color: var(--main-black);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: .5em;
  padding: 10px;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: var(--lila);
  border-radius: 50%;
  animation: blink 1s steps(2) infinite;
}

@keyframes blink {
  0% {

  }

  100% {
      filter: drop-shadow(0 0 15px var(--lila));

  }
  
}

.links h4 {
  margin: 3%;
  text-decoration: none;
  transition: .4s ease;
  text-transform: lowercase;
  font-size: 1.2rem;
  color: var(--main-white);
}


.links:hover {
  background-color: var(--lila);
  color: var(--main-white);
  box-shadow: 0 0 1em var(--lila);
}

.landing {
  height: 100%;
  width: 100%;
  background: #0909097b;
  position: absolute;
  padding-top: 15vh;
}  

.logo {
  width: min(80%, 1000px);
  cursor: pointer;
  z-index: 3;
  filter: drop-shadow(0px 0px 10px var(--main-black));
  margin-bottom: 5vh;
}  

.img-container {
  height: 100vh;
  width: 100vw;
  background: url("/img/johnkcay_skofarmerPopfest_2023_\ 24.jpg");
  filter: brightness(1.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  z-index: -1;
  transition: background-position 1s ease;
}  

.empty-space {
  height: 100vh;
  width: 100vw;
}  

.shader {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(to bottom, #0909097b 0%, transparent 100%);
}

  
/* SOCIALS */

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin: 0 1.5rem;
}

.socials img { 
  max-width: 1.3rem;
  margin: 0.3rem 0rem;
}

.socials img:hover {
  transform: scale(1.2);
}

#youtube {
  transform: scale(1.6);
}

#youtube:hover {
  transform: scale(1.9);
}

  
/* MAIN CONTENT */

.tourdates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: min(80%, 1000px);
  margin: 3%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding-top: 3em;
}

tr {
  border-bottom: 1px solid var(--main-white);
  height: 6em;
  text-align: center;
}

tr:last-child {
  border: none;
}

.tourdates a:hover {
  text-decoration: none;
}



/* SHOP */
.shop-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  max-width: 100dvw;
  gap: 1rem;
}

.shop-info {
  font-size: max(var(--small), var(--medium));
}

.shop-logo {
  max-width: 90vw;
}


/* KONTAKT */

.block {
  width: min(600px, 50vw);
}



/* MOBILE */

@media only screen and (max-width: 800px) {

  html {
  --big: 2.5rem;
  --medium: 1.3rem;
  }
  
  main {
    max-width: 100vw;
  }

  .topbar a {
    display: none;
  }
  
  .topbar:hover {
    width: 92%;
  }

  .dropdownmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    text-align: center;
    transition: .4s ease;
  }

  .dropdownmenu a {
    display: initial;
    width: 100%;
    height: 100%;
    padding: 0;
    align-self: center;
    height: 30px;
    margin-bottom: .3em;
  }

  .dropdownmenu a:hover {
    color: var(--main-black);
    border-bottom: 2px solid var(--main-white);
  }

  .dropdowncontent {
    max-height: 0;
    overflow: hidden;
    transition: .4s ease;
    opacity: 0;
    width: 100%;
  }

  .dropdowncontent a {
    width: 100%;
    display: block;
  }

  .dropdowncontent ul {
    margin: 3em 0 2em 0;
    width: 100%;
  }

  .dropdowncontent li {
    border-bottom: 2px solid var(--main-black);
    width: 66%;
    margin: 2em auto;
    transition: .4s ease;
  }

  .dropdowncontent li:hover {
    width: 77%;
  }

  .dropdowncontent.active {
    max-height: min(100vh, 600px);
    opacity: 1;
  }

  .img-container {
    background-position: 60%;
  }
  
  .text {
    width: min(65ch, 90%);
  }

  footer a, footer p {
    font-size: var(--small);
  }

  .socials img {
    max-width: 1.1rem;
  }
}



