/* GLOBAL SETTINGS */
* {
scroll-behavior: smooth;
box-sizing: border-box;
/* border: 1px solid white; */
}

html {

  /* FONTS */

  --main-font: Afacad, Afacad-Regular;
  --italic: Afacad-Italic;
  --display-font: RobotoMono;

  --letter-spacing-bigger: -0.4rem;
  --letter-spacing-big: -0.2rem;
  --letter-spacing-medium: -0.05rem;

  font-size: var(--standard-font-size);

  --standard-font-size: 20px;
  --figcaption: 0.7rem;
  --mini: 0.8rem;
  --small: 1.1rem;
  --medium: 1.6rem;
  --big: 4rem;
  --bigger: 6.4rem;
  --massive: 10rem;
  --insane: 16rem;
  

  /* COLORS */
  
  --lila: #B0ADFF;
  --lila-light: #B2B0FF;
  --main-black: #090909;
  --button-black: #171717;
  --main-white: #FFFEFB;
}

/* GENERAL */

body {
  overflow-x: hidden;
  /* disable default values of padding and margin on body */
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--main-black);
  color: var(--main-white);
  width: 100%;
}

img {
  border-radius: 0.5rem;
}

a {
  color: var(--main-white);
}

h2 {
  font-family: var(--display-font);
  font-size: clamp(var(--medium), calc(2rem + 8vw), var(--bigger));
  line-height: 1.3;
  letter-spacing: clamp(-0.2em, calc(0em + 1vw), 1em);
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 5vh;
  margin-top: 1.5em;
}

h2::after {
  content:"_";
  display: inline;
}


h3 {
  font-family: var(--display-font);
  font-size: var(--medium);
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  text-transform: uppercase;
}

h4 {
  font-family: var(--display-font);
  font-weight: 400;
  font-size: var(--small);
  text-align: center;
}

p {
  font-weight: 100;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.flex {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  font-weight: 100;
  width: min(65ch, 100%);
  color: var(--main-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
.plain-background {
  background: var(--main-black);
  width: 100%;
  margin: 0 auto;
}

.stripes {
  background-image: repeating-linear-gradient(45deg, black 0 1px, var(--main-black) 1px 10px);
}

.stripes-up {
    background-image: repeating-linear-gradient(-45deg, black 0 1px, var(--main-black) 1px 10px);
}

.button {
  display: block;
  padding: .7em 2em;
  margin: 5vh 0;
  border-radius: .5rem;
  text-decoration: none;
  font-family: var(--display-font);
  text-align: center;
  transition: .2s ease;
  background-color: var(--main-white);
  color: var(--main-black);
  border: 3px solid var(--main-white);
  font-family: var(--display-font);
}
@media (hover: hover) {
  
  .button:hover {
    background-color: var(--button-black);
    color: var(--main-white);
    border: 3px solid var(--lila);
  }

}

.skofiasko .button {
  margin: 1vh 0 0 0;
}
/* FOOTER */

footer {
  padding: 0 1rem .6rem 1rem;
  margin-top: 1vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

footer p, footer a {
    font-size: var(--mini);
    color: var(--main-white);
    
} 

footer p {
  text-align: right;
}

p.footerlinks {
  text-align: left;
}

/* TOPBAR */

nav {
  transition: 0.2s ease;
  position: sticky;
  top: 69px;
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.offscreenmenu {
  display: none;
}

.logobuttonhammenu {
  display: none;
}

.hammenu {
  display: none;
}

.topbar {
  background: var(--main-black);
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-evenly;
  transition: .2s ease;
  position: absolute;
  bottom: 70px;
}

.topbar a {
  color: var(--main-white);
  font-family: var(--display-font);
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  font-size: var(--small);
  transition: .2s ease-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 3px 0 var(--main-black);
}


@media (hover: hover) {
  .topbar a:hover {
    /* color: var(--main-black); */
    /* background: var(--main-white); */
    text-decoration: none;
    box-shadow: inset 0 3px 0 var(--main-white);
    letter-spacing: .1em;
  }
  
  .smalllink:hover {
    text-decoration: none;
  }
}


.logobuttonwhite {
  height: 24px;
  opacity: 1;
  transition: .2s ease-out;
}

.topbar a:hover .logobuttonwhite {
  transform: scaleX(1.125);
}


/* HERO */  

.landing {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to bottom, #0909098b 77%, transparent 100%); */
  position: absolute;
}  

.logo {
  z-index: 3;
  margin-bottom: 5vh;
  filter: drop-shadow(0px 0px 50px var(--main-black));
  width: min(100%, 1000px);
  transition: filter .2 ease;
}  

@media (hover: hover) {

  .logo:hover {
    filter: drop-shadow(0 0 10px var(--main-white));
  }

}

a[href="#maincontent"] {
  width: min(80%, 1000px);
}



.img-container {
  height: 100vh;
  width: 100%;
  background: url("../img/johnkcay_skofarmerPopfest_2023_24.jpg");
  filter: brightness(1.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0vh;
  z-index: -1;
  transition: background-position 1s ease;
}  

.arrow {
  /* display: none; */
  position: absolute;
  bottom: 0vh;
  transform: scaleX(2.5);
  animation: bounce .4s ease-in infinite alternate ;
  cursor: default;
}

@keyframes bounce {
  0% {

  }

  100% {
    transform: scaleX(2.5) translateY(.5rem);
  }
  
}

.arrow p {
  display: none;
  color: var(--main-white);
  background-color: var(--main-black);
  font-size: 2rem;
}

.empty-space {
  height: 100vh;
  width: 100vw;
}  


  
/* SOCIALS */

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
  transition: .2s ease;
}

.icon { 
  max-width: 1.3rem;
  margin: 0.3rem 0 0 0;
}

.tidal {
  position: relative;
  bottom: 7px;
}

.icon:hover {
  transform: scale(1.2);
}

#youtube {
  transform: scale(1.6);
}

#youtube:hover {
  transform: scale(1.9);
}

  
/* MAIN CONTENT */

figure {
  position: relative;
  width: 100%;
  margin: 0;
}

figure img {
  height: 100%;
  object-fit: cover;
}

figcaption {
  bottom: 0.5rem;
  left: 0.3rem;
  position: absolute;
  font-size: var(--figcaption);
}

.heading-musik {
  margin-top: 1em;
}

.musik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newsingle {
  grid-template-areas:
  "txt img"
  ;
}

#newsingle img {
  grid-area: img;
}

.newrelease {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: min(85vw, 1050px);
  align-content: center;
  padding-bottom: 10%;
  gap: 5%;
}


.newrelease .icon {
  margin: 1.5rem 2rem 1rem 0;
  max-width: 1.8rem;
}

.newrelease h3 {
  text-align: left;
}

.newrelease h4, .newrelease p{
  text-align: left;
  margin: 0;
  font-weight: 100;
  font-size: var(--big);
}

.newrelease h4 {
  font-size: var(--small);
}

.newrelease img {
  width: 100%;
}

.streamingdienste {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.skofiasko img {
  width: 100%;
  justify-self: end;
}

.skofiasko {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "left right";
  gap: 5vw;
  max-width: min(85vw, 1250px);
  margin: 0 auto;
  padding-bottom: 20vh;
}

.left {
  grid-area: left;
  margin: 0 0 0vh 0;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right h2 {
  margin: -3vh 0 0 0;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vh;
  align-items: center;
  height: auto;
  width: 100%;
  padding-bottom: 20vh;
}

.videobox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5vh;
  width: min(85vw, 1250px);
}

.videoplayer {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .videobox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2vh;
  }
}


.tourdates {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lila);
  color: var(--main-black);
  padding-bottom: 13vh;
}

.tourdates a {
  color: var(--main-black);
}

.tourdates h4 {
  width: 100vw;
  height: 50vh;
}

table {
  width: min(80%, 1000px);
  margin: 3%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding-top: 3em;
}

tr {
  border-bottom: 1px solid var(--main-black);
  height: 6em;
  text-align: center;
}

/* SHOP */
.shop-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  max-width: 100dvw;
  gap: 1rem;
}

.shop-info {
  font-size: max(var(--small), var(--medium));
}

.shop-logo {
  max-width: 90vw;
}



/* KONTAKT */

.kontakt {
  height: 94vh;
  width: 100%;
  background-color: var(--lila);
  color: var(--main-black);
  padding: 10vh 0 10vh 0;
}

.kontakt a {
  color: var(--main-black);
}

.bio {
  margin: 0 auto 20vh;
  width: min(750px, 89%);
}

/* .biotext {
  grid-area: text;
  margin: 0 auto;
  width: 100%;
} */

.bio img {
  width: 100%;
}

/* IMPRESSUM */

.impressumtext {
  height: 94vh;
}

.impressumfooter {
  position: relative;
}


/* MOBILE */

@media only screen and (max-device-width: 600px) and (hover: none) {

  .newrelease .icon {
    max-width: 1.5rem;
    margin: 1rem 1rem 2rem 0;
  }

  td {
    font-size: var(--mini);
    font-weight: 500;
  }

  tr {
  border-bottom: 1px solid var(--main-black);
  height: 3em;
}

  .kontakt a {
    font-size: var(--small);
  }

  .streamingdienste {
    flex-direction: column;
    gap: 1vh;
  }

  .button {
    margin: 1vh 0;
  }

  .video .button {
    margin: 5vh 0;
  }

  .topbar a {
    font-size: .8rem;
  }

  html {
  --figcaption: 0.5rem;
  --big: 2.5rem;
  --medium: 1.3rem;
  --small: 0.9rem;
  --mini: 0.6rem;
  }

  .button {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 600px) {

 

  .arrow, .arrow p {
    display: block;
  }

  .logo {
    display: none;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: var(--main-black);
    height: 60px;
  }

  .mobiletopbar {
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
  }

  .offscreenmenu {
    background-color: var(--main-black);
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--display-font);
    font-size: var(--medium);
    z-index: 99;
    position: fixed;
    right: -100vw;
    top: 0;
    transition: .2s ease;
    padding: 20% 0;
  }

  .offscreenmenu.active {
    right: 0;
  }

  .hammenu {
    display: unset;
    height: 40px;
    width: 35px;
    position: relative;
    cursor: pointer;
  }

  .logobuttonhammenu {
    display: initial;
    height: 28px;
  }

  .hammenu span {
    background-color: var(--main-white);
    height: 3px;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease;
  }

  .hammenu span:nth-child(1) {
    top: 25%;
  }

  .hammenu span:nth-child(3) {
    top: 75%;
  }

  .hammenu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hammenu.active span:nth-child(2) {
    opacity: 0;
  }

  .hammenu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }



  #newsingle {
    grid-template-areas:
    initial
    ;
  }

  #newsingle img {
    grid-area: initial;
  }

  .newrelease {
    grid-template-columns: 1fr;
  }


  h3 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .text {
    font-size: var(--small);
  }

  main {
    max-width: 100%;
  }

  .topbar {
  display: none;
  }

  .skofiasko {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    background-position: 60%;
    background-size: cover;
    height: 100vh;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer p {
    text-align: center;
  }

  .socials img {
    max-width: 1.1rem;
  }

}