/* GLOBAL SETTINGS */
* {
scroll-behavior: smooth;
box-sizing: border-box;
/* border: 1px solid white; */
}

html {

  /* FONTS */

  --main-font: Afacad, Afacad-Regular;
  --italic: Afacad-Italic;
  --display-font: RobotoMono;

  --letter-spacing-bigger: -0.4rem;
  --letter-spacing-big: -0.2rem;
  --letter-spacing-medium: -0.05rem;

  font-size: var(--standard-font-size);

  --standard-font-size: 20px;
  --mini: 0.8rem;
  --small: 1rem;
  --medium: 1.6rem;
  --big: 4rem;
  --bigger: 6.4rem;
  --massive: 10rem;
  --insane: 16rem;
  

  /* COLORS */
  
  --lila: #B0ADFF;
  --lila-light: #B2B0FF;
  --main-black: #090909;
  --button-black: #171717;
  --main-white: #FFFEFB;
}





/* GENERAL */

body {
  overflow-x: hidden;
  /* disable default values of padding and margin on body */
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--main-black);
  color: var(--main-white);
  width: 100%;
}

a {
  color: var(--main-white);
}

h2 {
  font-family: var(--display-font);
  font-size: clamp(var(--medium), calc(2rem + 8vw), var(--bigger));
  line-height: 1.3;
  letter-spacing: clamp(-0.2em, calc(0em + 1vw), 1em);
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 1vh;
  margin-top: 1.5em;
  margin-right: -0.3em; 
}


h3 {
  font-family: var(--display-font);
  font-size: var(--medium);
  font-weight: 900;
  font-style: normal;
  margin-bottom: 2rem;
  letter-spacing: 0.5em;
  line-height: 1.1;
  text-transform: lowercase;
}

p {
  
  font-weight: 100;
  line-height: 1.5;
  font-size: var(--small);
  letter-spacing: 0.03rem;
}

.flex {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.text {
  width: min(65ch, 70%);
  margin: 0 auto;
  position: relative;
  color: var(--main-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
.plain-background {
  background: var(--main-black);
  width: 100vw;
  margin: 0 auto;
}

.stripes {
  background-image: repeating-linear-gradient(45deg, black 0 1px, var(--main-black) 1px 10px);
}

.stripes-up {
    background-image: repeating-linear-gradient(-45deg, black 0 1px, var(--main-black) 1px 10px);
}

.page {
  height: calc(100vh + 1.5rem);
  width: 100vw;
  display: none;
  position: fixed;
  top: -1.5em;
  background-color: rgba(0, 0, 0, 0.877);
  backdrop-filter: blur(10px);
  z-index: 50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page:target {
  display: flex;
}

/* FOOTER */



footer {
  padding: 0 1rem 0 1rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p, footer a {
    font-size: var(--mini);
    color: var(--main-white);
} 

footer a:hover {
  text-decoration: none;
}

/* TOPBAR */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  position: fixed;
  top: .66em;
  width: 100%;
  z-index: 99;
  margin: 0 auto;
}

.topbar {
  display: flex;
  width: min(90%, 1300px);
  align-items: center;
  justify-content: space-around;
  background: var(--main-white);
  border-radius: .5em;
  box-shadow: 0px 0px 10px var(--main-black);
  padding: .33em;
  transition: .4s ease;
}

.topbar a {
  color: var(--main-black);
  font-family: var(--display-font);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: var(--small);
  transition: .2s ease-out;
  max-height: 46px;
  width: 100%;
  padding: .2em .2em .25em .2em;
  border-radius: .3em;
  margin: 0 0.1em;
  overflow: hidden;
}

@media (hover: hover) {
  .topbar a:hover {
    color: var(--main-white);
    background: var(--button-black);
  }
  
  a[href="https://linktr.ee/skofisound"]:hover {
    background-color: var(--button-black);
}

}

#topbarkontaktlink:hover {
background-color: var(--lila);
color: var(--main-black);
}

a[href="https://linktr.ee/skofisound"] {
  background-color: var(--lila);
  color: var(--main-black);
}

/* a[href="https://linktr.ee/skofisound"]::before {
  content: "🎉";
  transform: scale(0.7);
  display: inline-block;
  position: relative;
  top: .1em;
  right: .1em;
} */

.topbar a[href="#Kontakt"] {
  background-color: var(--button-black);
  color: var(--main-white);
}

a[href="#tourdates"], a[href="#Kontakt"], a[href="#Musik"], a[href="shop.html"], a[href="#Info"] {
}

.dropdownmenu {
  display: none;
}
  

/* HERO */  


/* a[href="https://linktr.ee/skofisound"]::after {
  content: "🎧";
  display: inline-block;
  position: relative;
  top: .1em;
  left: .1em;
} */

.landing {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to bottom, #0909098b 77%, transparent 100%); */
  position: absolute;
}  

.logo {
  width: min(80%, 1000px);
  cursor: pointer;
  z-index: 3;
  filter: drop-shadow(0px 0px 50px var(--main-black));
  margin-bottom: 15vh;
}  

.img-container {
  height: 100vh;
  width: 100vw;
  background: url("../img/johnkcay_skofarmerPopfest_2023_24.jpg");
  filter: brightness(1.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  z-index: -1;
  transition: background-position 1s ease;
}  

.arrow {
  position: absolute;
  bottom: 0vh;
  transform: scaleX(2);
  animation: bounce .4s ease-in infinite alternate ;
  cursor: default;
}

@keyframes bounce {
  0% {

  }

  100% {
    transform: scaleX(2) translateY(.5rem);
  }
  
}

.arrow p {
  font-size: 3rem;
}

.empty-space {
  height: 100vh;
  width: 100vw;
}  


  
/* SOCIALS */

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin: 0 1.5rem;
  transition: .3s ease;
}

.socials img { 
  max-width: 1.3rem;
  margin: 0.3rem 0rem;
}

.socials img:hover {
  transform: scale(1.2);
}

#youtube {
  transform: scale(1.6);
}

#youtube:hover {
  transform: scale(1.9);
}

  
/* MAIN CONTENT */

.tourdates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: min(80%, 1000px);
  margin: 3%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding-top: 3em;
}

tr {
  border-bottom: 1px solid var(--main-white);
  height: 6em;
  text-align: center;
}

tr:last-child {
  border: none;
}

.tourdates a:hover {
  text-decoration: none;
}



/* SHOP */
.shop-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  max-width: 100dvw;
  gap: 1rem;
}

.shop-info {
  font-size: max(var(--small), var(--medium));
}

.shop-logo {
  max-width: 90vw;
}


/* KONTAKT */

.kontakt {
  height: 100vh;

}

.block {
  width: min(600px, 50vw);
}



/* MOBILE */

@media only screen and (max-width: 900px) {

  html {
  --big: 2.5rem;
  --medium: 1.3rem;
  }
  
  main {
    max-width: 100vw;
  }

  .topbar a {
    display: none;
  }

  a[href="https://linktr.ee/skofisound"] {
    display: initial;
    align-self: flex-start;
    justify-self: flex-start;
  }

  a[href="https://linktr.ee/skofisound"] {
  flex: 2 1 50%;
}

 /* a[href="#Kontakt"]:hover {
  background-color: var(--button-black);
 } */
  

  .dropdownmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .4s ease;
    padding: 0 .25em;
  }

  .dropdownmenu a {
    display: initial;
    width: 100%;
    height: 100%;
  }

  /* a[href="#menubutton"]:hover {
    color: var(--main-black);
    background: var(--main-white);

  } */

  .dropdowncontent {
    max-height: 0;
    overflow: hidden;
    transition: .4s ease;
    opacity: 0;
    width: 100%;
    transition: .3s ease;
  }

  .dropdowncontent a {
    width: 100%;
    height: 100%;
    display: block;
    margin: .6em 0;
    background: var(--button-black);
    color: var(--main-white);
    border-radius: .5em;
    padding: .3em 0;
  }

  .dropdowncontent a:hover {
    color: var(--main-white);
  }

  .dropdowncontent ul {
    margin: 3em 0 2em 0;
    width: 100%;
  }

  .dropdowncontent li {
    /* border-bottom: 2px solid var(--main-black); */
    width: min(500px, 90%);
    margin: 1em auto;
    transition: .3s ease;
  }

  .dropdowncontent li:hover {
    width: 100%;
  }

  .dropdowncontent.active {
    max-height: min(100vh, 600px);
    opacity: 1;
    width: 100%;
    transform: translateX(-26%);
  }


  .img-container {
    background-position: 60%;
    background-size: cover;
  }
  
  .text {
    width: min(65ch, 90%);
  }

  footer a, footer p {
    font-size: var(--small);
  }

  .socials img {
    max-width: 1.1rem;
  }
}



