/* GLOBAL SETTINGS */
* {
scroll-behavior: smooth;
box-sizing: border-box;
/* border: 1px solid white; */
}

html {

  /* FONTS */

  --main-font: Afacad, Afacad-Regular;
  --italic: Afacad-Italic;
  --display-font: Boldonse;

  --letter-spacing-bigger: -0.4rem;
  --letter-spacing-big: -0.2rem;
  --letter-spacing-medium: -0.05rem;

  font-size: var(--standard-font-size);

  --standard-font-size: 20px;
  --mini: 0.8rem;
  --small: 1rem;
  --medium: 1.6rem;
  --big: 4rem;
  --bigger: 6.4rem;
  --massive: 10rem;
  --insane: 16rem;
  

  /* COLORS */
  
  --lila: #B0ADFF;
  --lila-light: #B2B0FF;
  --main-black: #090909;
  --main-white: #FFFEFB;
}





/* GENERAL */

body {
  overflow-x: hidden;
  /* disable default values of padding and margin on body */
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--main-black);
  color: var(--main-white);
  width: 100%;
}

a {
  color: var(--main-white);
}

h2 {
  font-family: var(--main-font);
  font-size: clamp(var(--medium), calc(1rem + 8vw), var(--bigger));
  line-height: 1.3;
  letter-spacing: clamp(0em, calc(0.1em + 2vw), 1em);
  text-transform: lowercase;
  font-weight: 900;
  margin-bottom: 1vh;
  margin-top: 1.5em; 
}


h3 {
  font-family: var(--main-font);
  font-size: var(--medium);
  font-weight: 900;
  font-style: normal;
  margin-bottom: 2rem;
  letter-spacing: 0.5em;
  line-height: 1.1;
  text-transform: lowercase;
}

p {
  
  font-weight: 100;
  line-height: 1.5;
  font-size: var(--small);
  letter-spacing: 0.03rem;
}

.flex {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center; 
}

.text {
  width: min(65ch, 70%);
  margin: 0 auto;
  position: relative;
  color: var(--main-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
.plain-background {
  background: var(--main-black);
  width: 100vw;
  margin: 0 auto;
}

.stripes {
  background-image: repeating-linear-gradient(45deg, black 0 1px, var(--main-black) 1px 10px);
}

.stripes-up {
    background-image: repeating-linear-gradient(-45deg, black 0 1px, var(--main-black) 1px 10px);
}

.page {
  height: calc(100vh + 1.5rem);
  width: 100vw;
  display: none;
  position: fixed;
  top: -1.5em;
  background-color: rgba(0, 0, 0, 0.877);
  backdrop-filter: blur(10px);
  z-index: 50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page:target {
  display: flex;
}





/* FOOTER */

footer {
  padding: 0 1rem 0 1rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p, footer a {
    font-size: var(--mini);
    color: var(--main-white);
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 0 1.45rem 0 1.45rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.page-footer p, .page-footer a {
    font-size: var(--mini);
    color: var(--main-white);
  }
  

  
  
  
/* OFF-SCREEN-MENU */

.ham-menu {
  height: 20px;
  width: 30px;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  z-index: 100;
}

.ham-menu span {
  height: 3px;
  width: 100%;
  background-color: var(--main-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 0%
}
.ham-menu span:nth-child(3) {
  top: 100%
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  transform: translateX(450px);
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu {
  background-color: var(--main-black);
  font-size: 2rem;
  height: 370px;
  width: 100vw;
  max-width: 366px;
  display: flex;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: -400px;
  z-index: 10;
  transition: .3s ease;
  z-index: 100;
}

.off-screen-menu a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--main-white);
  text-transform: lowercase;
  font-weight: 900;
  font-size: calc(var(--medium) + 1);
  letter-spacing: 0.5rem;
  transition: 0.1s ease;
}

.off-screen-menu li {
  padding: 0;
  margin: 0;
  height: auto;
}

.off-screen-menu a:hover {
  color: var(--lila)
}

.off-screen-menu.active {
  top: 0;
}





/* HERO */  

nav {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}  

.links {
  width: 70%;
  height: 20%;
  text-align: center;
  z-index: 9;
  position: absolute;
  top: 1.5rem;
}

.links a {
  margin: 3%;
  padding: 1.5% 3% 1.5% 4em;
  text-decoration: none;
  transition: .4s ease;
  text-transform: lowercase;
  font-weight: bold;
  font-size: var(--small);
  border-radius: 2px;
  color: var(--main-white);
  border-radius: 2em;
  background-color: var(--main-black);
}


.links a:hover {
  background-color: var(--lila);
  color: var(--main-white);
  box-shadow: 0 0 1em var(--lila);
}

.landing {
  height: 100%;
  width: 100%;
  background: #0909097b;
  position: absolute;
}  

.logo {
  width: min(80%, 1000px);
  cursor: pointer;
  z-index: 3;
  filter: drop-shadow(0 0 40px var(--lila))
}  

.img-container {
  height: 100vh;
  width: 100vw;
  background: url("/img/johnkcay_skofarmerPopfest_2023_\ 24.jpg");
  filter: brightness(1.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  z-index: -1;
  transition: background-position 1s ease;
}  

.empty-space {
  height: 100vh;
  width: 100vw;
}  

.shader {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(to bottom, #0909097b 0%, transparent 100%);
}



/* a[href="#Musik"] {
  height: 30px;
  width: 20px;
  } */
  
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(10px);
    }
  }
  
/* SOCIALS */

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin: 0 1.5rem;
}

.socials img { 
  max-width: 1.3rem;
  margin: 0.3rem 0rem;
}

.socials img:hover {
  transform: scale(1.2);
}

#youtube {
  transform: scale(1.6);
}

#youtube:hover {
  transform: scale(1.9);
}


.trianglelink {
  height: 30px;
  width: 45px;
  z-index: 9;
}

.trianglelink:hover {
  cursor: pointer;
}

.triangle-down {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  animation: bounce .4s ease-in alternate infinite;
  position: absolute;
  bottom: 5dvh;
}   
  
/* MAIN CONTENT */

.tourdates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: min(80%, 1000px);
  margin: 3%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding-top: 3em;
}

tr {
  border-bottom: 1px solid var(--main-white);
  height: 6em;
  text-align: center;
}

tr:last-child {
  border: none;
}

.tourdates a:hover {
  text-decoration: none;
}



/* SHOP */
.shop-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  max-width: 100dvw;
  gap: 1rem;
}

.shop-info {
  font-size: max(var(--small), var(--medium));
}

.shop-logo {
  max-width: 90vw;
}


/* KONTAKT */

.block {
  width: min(600px, 50vw);
}





/* MOBILE */

@media only screen and (max-width: 880px) {

  html {
  --big: 2.5rem;
  --medium: 1.3rem;
  }
  
  main {
    max-width: 100vw;
  }

  .links {
    display: flex;
    flex-direction: column;
    width: min(50%, 800px);
  }
  
  .img-container {
    background-position: 60%;
  }

  .off-screen-menu.active {
    max-width: 100vw;
    height: 100vh;
  }
  
  .logo:hover {
    transform: scale(0.7);
  }

  .text {
    width: min(65ch, 90%);
  }

  footer a, footer p {
    font-size: var(--small);
  }

  .socials img {
    max-width: 1.1rem;
  }
}



