/* global settings */
* {
scroll-behavior: smooth;
box-sizing: border-box;
/* border: 1px solid white; */
}

html {
  /* FONTS */

  --main-font: Afacad;
  --italic: Afacad-Italic;
  --display-font: Boldonse;

  --letter-spacing-bigger: -0.4rem;
  --letter-spacing-big: -0.2rem;
  --letter-spacing-medium: -0.05rem;

  font-size: var(--standard-font-size);

  --standard-font-size: 20px;
  --mini: 0.8rem;
  --small: 1rem;
  --medium: 1.6rem;
  --big: 4rem;
  --bigger: 6.4rem;
  --massive: 10rem;
  --insane: 16rem;
  
  
  /* COLORS */
  
  --lila: #B0ADFF;
  --lila-light: #B2B0FF;
  --green: #88EFA7;
  --green-light: #8FFFB1;
  --main-black: #090909;
  --main-white: #FFFEFB;
}

body {
  overflow-x: hidden;
  /* disable default values of padding and margin on body */
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--main-black);
  color: var(--main-white);
  /* border-right: 3px solid var(--lila);
  border-left: 3px solid var(--green); */
  width: 100%;
}

.flex {
  display: flex; /* this is a flexbox */
  justify-content: center; /* centers child elements horizontally */
  align-items: center; /* centers child elements vertically */
}


.text {
  width: min(65ch, 70%);
  margin: 0 auto;
  z-index: 10;
  position: relative;
  color: var(--main-white);
}

.video-player {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

iframe {
  width: 66%;
  height: auto;
  aspect-ratio: 16 / 9;
}

a {
  color: var(--main-white);
}

footer {
  padding: 0 1rem 0 1rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-black);
}

footer p, footer a {
    font-size: var(--mini);
    color: var(--main-white);
}

h2 {
  font-family: var(--display-font);
  font-size: var(--bigger);
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.2rem;
  margin-bottom: 1rem;
  margin-top: 5.5rem;

  
}
@supports (background-clip: text) {

#Music h2 {
  background-image: url("/img/Tragkraft-Cover.png");
  background-size: cover;
  color: transparent;
  background-clip: text;
  background-attachment: fixed;
}

  #Info h2 {
  background-image: url("/img/250523_LT_Shooting_Skofi-9.jpg");
  background-size: 120%;
  color: transparent;
  background-clip: text;
  background-position: 80% 10%;
  background-attachment: fixed;
  }
}

h3 {
  font-size: var(--medium);
  font-weight: 200;
  font-style: normal;
  margin-bottom: 2rem;
  letter-spacing: -0.05rem;
  line-height: 1.1;
}

p {
  font-style: normal;
  font-weight: 200;
  line-height: 1.5;
  font-size: var(--small);
  letter-spacing: 0.03rem;

}

  
/***** Hero Section *****/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


nav {
  background: linear-gradient(to bottom, var(--main-black) 0%, transparent 100%);
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  z-index: 99;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

.next-shows {
  position: absolute;
  top: 15rem;
  left: 5rem;
  background-color: var(--lila);
  display: flex;
  padding: 2rem;
  box-shadow: 5px 5px black;
}

.next-shows h2 {
  font-size: var(--small);
  font-family: var(--main-font);
  text-transform: lowercase;
  align-self: center;
  font-size: inherit;
  letter-spacing: 0.3rem;
  color: var(--main-black)
}

.logo {
  height: 50px;
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.logo:hover {
  transform: scale(1.02);
}

.img-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  top:0;
  background: url("/img/johnkcay_skofarmerPopfest_2023_\ 24.jpg");
  filter: brightness(1.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index:0;
}


.ham-menu {
  height: 20px;
  width: 30px;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  z-index: 10;
}


.ham-menu span {
  height: 3px;
  width: 100%;
  background-color: var(--main-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 0%
}
.ham-menu span:nth-child(3) {
  top: 100%
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  transform: translateX(450px);
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu {
  background-color: var(--main-black);
  border-left: px solid var(--main-white);
  font-size: 2rem;
  height: auto;
  width: 100vw;
  max-width: 366px;
  display: flex;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: -400px;
  z-index: 10;
  transition: .3s ease;
}

.off-screen-menu a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--main-white);
  text-transform: lowercase;
  font-weight: 900;
  font-size: calc(var(--medium) + 1);
  letter-spacing: 0.5rem;
  transition: 0.1s ease;
}

.off-screen-menu li {
  padding: 0;
  margin: 0;
  height: auto;
}

.off-screen-menu a:hover {
  color: var(--green)
}

.off-screen-menu li a[href="#Kontakt"]:hover, .off-screen-menu li a[href="#Info"]:hover {
  color: var(--lila)
}

.off-screen-menu.active {
  top: 0;
}


@keyframes bounce {
  0% {
    
  }
  
  50% {
    transform: translateY(1rem);
  }
  
}


.socials img { 
  max-width: 1.5rem;
  margin: 0.3rem 0rem;
}

.socials img:hover {
  transform: scale(1.05);
}

#youtube {
  transform: scale(1.6);
}

#youtube:hover {
  transform: scale(1.7);
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  right: 1.5rem;
  top: 4.1rem;
  z-index: 10;
}


/* NEW MUSIC */

.grid-heading {
  font-size: var(--medium);
  letter-spacing: var(--letter-spacing-medium);
}

.grid {
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.cta {
  align-self: center;
  justify-self: center;
  padding: 1rem;
  text-decoration: none;
  transition: 0.4s ease-out;
  text-transform: lowercase;
  font-family: var(--main-font);
  font-weight: 900;
  background-color: var(--green);
  color: var(--main-black);
  letter-spacing: 0.3rem;
  box-shadow: 0px 5px 0px var(--main-white);
}

.new-music img {
  width: 100%;
  max-width: 500px;
  grid-row: span 2;
  justify-self: center;
}

.new-music .cta {
  grid-row: span 2;
}


.cta:hover {
  box-shadow: none;
  transform: translate(0, 5px);
}

/* DJ SKOFIASKO */

.djskofiasko {
  grid-template-areas: 
  "b c"
  "b c";
}

.djskofiasko img {
  width: 100%;
  grid-area: c;
}

.djskofiasko .cta {
  background-color: var(--lila);
  grid-area: b;
}

.djskofiasko h2 {
  grid-area: a;
}


/* SHOP */
.shop-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  max-width: 100dvw;
  gap: 1rem;
}

.shop-info {
  font-size: max(var(--small), var(--medium));
}

.shop-logo {
  max-width: 90vw;
}

/* MOBILE */
@media only screen and (max-width: 880px) {

  html {
  --big: 2.5rem;
  --medium: 1.3rem;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "c"
    "b";
  }
  
  .img-container {
    background-attachment: scroll;
    height: 100vh;
    max-width: 100vw;
    background-position: 60%;

  }
  
  .socials {
    opacity: 0;
    transition: 0.3s ease;
    right: -3rem;
  }
  
  .socials.active {
    opacity: 1;
    right: 1.5rem;
  }

  .ham-menu-background {
    background-color: var(--main-black);
    opacity: 0.95;
    height: calc(3rem + 20px);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1.1rem;
    z-index: 33;
  }

  .logo {
    transform: scale(0.7);
    position: fixed;
    left: 0;
    top: 0.8rem;
    filter: none;
  }

  .logo:hover {
    transform: scale(0.7);
  }

  h2 {
    font-size: var(--big);
  }

  .text {
    width: min(65ch, 90%)
  }

}
/* header {
  display: flex;
  height: 100vh;
  width: 100%;
}

.ham-menu {
  display: none;
  height: 40px;
  width: 40px;
}

.menu-icon {
  height: 100%;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
  z-index: 99;
  background-color: var(--main-black);
  padding: 1.5rem 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  font-size: var(--bigger);
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  letter-spacing: var(--letter-spacing-bigger);
  text-decoration: none;
  color: black;
  width: 90%;
  transition: font-size 1.5s ease;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  
}

.socials img { 
  min-height: 2rem;
  max-width: 2rem;
  margin: 0 1rem 0 0;
}

#youtube {
  transform: scale(1.9);
}

.img-container {
  width: auto;
  overflow: hidden;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 1.5s ease;
  transition: object-position 1.5s ease;
  transition: position 0s ;
  object-position: var(--hero-position, center);
}

.logo {
  width: 80%;
}

@media only screen and (max-width: 1300px) {
  .hero-img {
    transform: scale(1.3);
    --hero-position: 64% 80%;
  }

}

@media only screen and (max-width: 1100px), (max-height: 900px) {

  .sidebar ul li a {
    font-size: var(--big);
    letter-spacing: var(--letter-spacing-big);

  }
}

@media only screen and (max-width: 800px), (max-height: 600px) {
  
  header {
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: row;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .sidebar {
    position: fixed;
    top: 10vh;
    right: 0;
    height: 90vh;
    z-index: 99;
    background-color: var(--main-black);
    padding: 2rem 1.1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar ul li a {
    text-align: right;
  }

  .socials {
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    width: 20%;
  }

  .ham-menu {
    display: initial;
  }
  .hero-img {
    object-fit: cover;
    height: 100vh;
    position: relative;
    top: -13vh;
  }
} */